@media screen and (min-width: 1000px) and (max-width: 1400px) {
    .botonac{
        position: absolute;
        bottom: 44%;
        left: 23%;
        width: 30%;
    }
    .contenedor2 div div button{
        z-index: 15;
        right: 50%;
        width: 40%;
        height: 10%;
        padding: 3% 8%;
        border-radius: 8%;
        background-color: #0c90bd  ;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 130%;
        color: aliceblue;
    }
    .text1{
        /* margin-top: 40px; */
        position: absolute;
        bottom: 45%;
        left: 0px;
    }
    .mundo{
        height: 50rem;
    }
    .mund2{
        width: 150;
    }
    .mund3{
        width: 30%;
        height: 50%;
        float: left;
        margin-left: 3%;
        margin-top: 2%;
        text-align: center;
    
    }
    .mund3 h1{
        font-size: 220%;
        padding-bottom: 3%;
    }
    .mund3 div h4{
        font-size: 130%;
    }
    .mund3 div i{
        margin-top: 3%;
        margin-bottom: 4%;
        color: rgb(245, 212, 240);
        padding-top: 4%;
        font-size: 260%;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        width: 20%;
        height: 70px;
        -webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
        -moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
        box-shadow:0 0px 14px #777, 0 0 20px #CCC inset;
    }
    .portal2{
        position: relative;
        width: 85%;
        height: 75%;
        margin-left: 8%;
        top: 9%;
    }
    .tem1{
        margin-left: 4%;
        margin-top: 8%;
    }
    .tem1 h1{
        margin-left: 2%;
    }
    .tem1 div{
        text-align: center;
    }
    .tem1 div{
        width: 150%;
    }
    .tem1 div h5{
        width: 150%;
    }
    .skillcont{
        margin-left: 40%;
    }
    .mund1uni{
        position: absolute;
        display: flex;
        margin-top: -25%;
        margin-left: 3%;
        width: 33%;
    }
    .mund1uni div{
     margin-right: 2%;
     text-align: center;
     font-size: 120%;
     cursor: pointer;
     width: 6% ;
     height: 8%;
    }
    .mund1uni div:hover{
        transition: 600ms;
        background-color: #8edcf3;
        cursor: pointer;
        border-radius: 13%;
    }
    .mund1uni div a{
        text-decoration: none;
        cursor: pointer ;
    }
    .tw, .ti{
        color: #a6e5fa;
        text-decoration: none;
    }
    .ig{
        text-decoration: none;
        color: rgb(243, 142, 75);
    }
    .like{
        text-decoration: none;
        color: #054ab1;
    }
    .vector{
        display: none;
    }
    .mundo2{
        margin: 5%;
        height: 53rem;
        width: 92%;
        background-color: white;
        -webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
        -moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
        box-shadow:0 0px 44px #777, 0 0 20px #CCC inset;
    }
    .unit2 div div img{
        position: absolute;
        z-index: 20;
        width: 120%;
        margin-left: -50%;
        margin-top: -7%;
        height: 100%;
        border-radius: 4%;
        -webkit-box-shadow:0 0px 2px #777, 0 0 20px #CCC inset;
        -moz-box-shadow:0 0px 2px #777, 0 0 20px #CCC inset;
        box-shadow:0 0px 7px #777, 0 0 20px #CCC inset;
    
    }
    
}
@media screen and (min-width:1400px) and (max-width: 1820px) {
    
    .botonac{
        position: absolute;
        bottom: 42%;
        left: 26%;
        width: 40%;
        
    }
    .contenedor2 div div button{
        z-index: 15;
        right: 50%;
        width: 30%;
        height: 10%;
        padding: 3% 8%;
        border-radius: 8%;
    }
    .text1{
        /* margin-top: 40px; */
        position: absolute;
        bottom: 43%;
        left: 20px;
    }
    .mundo{
        height: 60rem;
    }
    .mund3{
        width: 30%;
        height: 50%;
        float: left;
        margin-left: 3%;
        margin-top: 2%;
        text-align: center;
    
    }
    .mund3 h1{
        font-size: 220%;
        padding-bottom: 3%;
    }
    .mund3 div h4{
        font-size: 130%;
    }
    .mund3 div i{
        margin-top: 3%;
        margin-bottom: 4%;
        color: rgb(245, 212, 240);
        padding-top: 4%;
        font-size: 260%;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        width: 20%;
        height: 70px;
        -webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
        -moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
        box-shadow:0 0px 14px #777, 0 0 20px #CCC inset;
    }
    .portal2{
        position: relative;
        width: 85%;
        height: 75%;
        margin-left: 8%;
        top: 9%;
    }
    .tem1{
        margin-left: 4%;
        margin-top: 5%;
    }
    .tem1 h1{
        margin-left: 2%;
    }
    .tem1 div{
        text-align: center;
    }
    .tem1 div{
        width: 150%;
    }
    .tem1 div h5{
        width: 150%;
    }
    .skillcont{
        margin-left: 40%;
    }
    .mund1uni{
        position: absolute;
        display: flex;
        margin-top: -20%;
        margin-left: 3%;
        width: 33%;
    }
    .mund1uni div{
        margin-right: 1%;
        text-align: center;
        font-size: 120%;
        cursor: pointer;
        width: 6%;
        height: 7%;
    }
    .mund1uni div:hover{
        transition: 600ms;
        background-color: #8edcf3;
        cursor: pointer;
        border-radius: 13%;
    }
    .mund1uni div a{
        text-decoration: none;
        cursor: pointer ;
    }
    .tw{
        color: #a6e5fa;
        text-decoration: none;
    }
    .ig{
        text-decoration: none;
        color: rgb(243, 142, 75);
    }
    .lik{
        text-decoration: none;
        color: #054ab1;
    }
    .vector{
        display: none;
    }
}
